body {
    background-image: url("/static/polls/images/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: white;
}

li a {
    color: green;
}

